# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out
build
dist

# Environment variables
.env.local
.env.*.local
.env

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional ESLINT cache
.eslintcache
